  .BetaTestOrder{
    display:flex;
    width:121px;
    justify-content: space-between;
  }
  .linkRecentOrderLate{
    color:var(--black);
  }
  .linkLateOrderLate{
    color:var(--primary-1);
  }
  .linkRecentOrderLate > .subhead3{
    width:44px;
    font-weight: 400;
  }
  .linkLateOrderLate > .subhead3{
    width:60px;
    font-weight: 700;
  }

  .linkRecentOrderRecent{
    color:var(--primary-1);
  }
  .linkLateOrderRecent{
    color:var(--black);
  }
  .linkRecentOrderRecent > .subhead3{
    width:44px;
    font-weight: 700;
  }
  .linkLateOrderRecent > .subhead3{
    width:60px;
    font-weight: 400;
  }
  
  .BetaTestOrderBlockLine{
    font-family: Noto Sans KR;
    font-weight: 700;
    font-size: 12px;
  }

  .functions{
    display:flex;
    width: calc(100vmax * 2 / 3);
    justify-content: space-between;
    align-items: center;
    height:72px;
  }
  
  .functionsCreatePostButton{/*이부분 안맞는거 희범님 말씀드리기*/
    background-color:  var(--primary-1);
    width:9vw;
    border-radius: 8px;
    color:var(--white);
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border:none;
    height:1.8vw;
  }
  .functionsCreatePostLink{
    color:var(--white);
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }