/*---------myPageEduEdit과 MyPageEdit.js 함께----------*/
.popupInputField{
    margin-top: 16px;
}
.popupInputField .body100{
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}
.event{
    margin-top: 4px;
    background: var(--white);
    border: 1px solid var(--gray-3);
    box-sizing: border-box;
    border-radius: 8px;
    width: 452px;
    height: 48px;
}
.time{
    margin-top: 4px;
    background: var(--white);
    border: 1px solid var(--gray-3);
    box-sizing: border-box;
    border-radius: 8px;
    width: 129.5px;
    height: 48px;
}
.addButton{
    margin-top: 16px;
    width: 452px;
    height: 52px;
    background: var(--primary-1);
    border-radius: 8px;
    color: var(--white);
}