.myPageWrap{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.contentsWrap{
    position: relative;
    width: 1200px;
    
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    justify-content: space-between
}
@media screen and (max-width: 1280px) {
    .myPageWrap{
        width: 1280px;
    }
}
.userCard{
    position: relative;
    top: 32px;
    width: 384px;
    height: 441px;
    border: 1px solid var(--gray-3);
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userCard .userInfo{
    position: relative;
    top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userCard .userName{
    color: var(--black);
    margin-top: 24px;
}
.buttonList{
    position: absolute;
    top: 260px;
}
.gray4Button{
    background-color: var(--gray-4);
    border-radius: 8px;
}
.gray4Button+.gray4Button{
    margin-left: 8px;
}
.userCard button{
    width: 95px;
    height: 36px;
}
.tier{
    position: absolute;
    top: 360px;
}
.rightArea{
    width: 792px;
}
.myPageTab{
    width: 510px;
    height: 40px;
    position: relative;
    top: 32px;
}
.myPageCard{
    position: relative;
    top: 48px;
    width: 100%;
}
/* tabListItem과 tabList class css는 post.css에 있음 */