.postWrap{
  width: 100%;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items:center;
  border-bottom: 1px solid #E8E8EE;
}
.postWrapBox{
  display:flex;
  justify-content: space-between;
  width: calc(100vmax * 2 / 3);
  height:206px;
}
.serviceInfo{
  width: 60%;
  height: 142px;
  display: flex;
  margin-top: 32px;
}
.postBlank{
  width:15%;
  height: 84px;
  margin-top: 32px;
}
.scrapReview{
  margin-top: 32px;
  width: 15%;
  height: 84px;
  display: flex;
  flex-direction: column;
 }
 .reviewButton{
  margin-top: 12px;
  background-color: var(--primary-1);
  height: 36px;
  color: var(--white);
  border-radius: 8px;
  border: none;
  display:flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .serviceInfo{
    width: 405px;
    left: 225px;
  }
  .postWrap{
    width: 900px;
  }
}
.serviceImgWrap{
  width: 142px;
  height: 142px;
  background-color: var(--primary-3);
  border-radius: 8px;
  float: left;
}
.serviceImg{
  width: 100%;
  height: 100%;
}
.serviceCon{
  float: left;
  width: calc( 100% - 152px );
  margin-top: 6px;
  margin-left: 2%;
  margin-bottom: 4px;
}
.serviceInfo .title100{
  position: relative;
}
.serviceInfo .userInfo{
  position: relative;
  /* width: 45%; */
  height: 24px;
  top:14px;
  display: flex;
  justify-content: flex-start;
}
.serviceInfo .userImg{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--caution);
}
.userInfo h4{
  position: relative;
  left: 4%;
  line-height: 24px;
  color: var(--gray-1);
}
.userInfo h2{
  position: relative;
  left: 8%;
  line-height: 24px;
  color: var(--gray-2);
}
.serviceEx{
  position: relative;
  top: 36px;
  color: var(--black);
}
.serviceEx > .body150{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width:1300px) {
  .scrapReview{
    width: 128px;
  }  
}
@media screen and (max-width:900px) {
  .scrapReview{
    left: 636px;
  }  
}
.scrap h3{
  color: var(--black);
}
.scrap{
  position: relative;
  background-color: var(--gray-4);
  border-radius: 8px;
  height: 36px;
  border: none;
  cursor:pointer;
}
.scrapFrame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 87px;
  height: 16px;
  left: calc(50% - 87px/2 - 0.5px);
  top: calc(50% - 16px/2);
}
.scrapFrame h3{
  margin-left: 4px;
}
.serviceIntro1{
    color: var(--primary-1);
    cursor:pointer;
}
.serviceIntro0{
    color:var(--black);
    cursor:pointer;
}
.tabList{
  height: 40px;
  display: inline-flex;
  width:calc(100vmax * 2 / 5);
  align-items: center;
}
.serviceIntro1{
  height:36px;
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}
  
.tabListItem + .tabListItem{
  margin-left: 24px;
}
.tabListItem{
  cursor:pointer;
}
.postServiceIntro{
  display:flex;
  justify-content: center;
  width:80%;
  height:200px;
  border:1px solid blue;
}
.postWrap2{
  display:flex;
  width:100%;
  height:500px;
  justify-content: center;
  border:1px solid red;
}
.createPost{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.createPost > .serviceInfo{
  width: calc(100vmax*2/5);
  height: 142px;
  display: flex;
  margin-top: 32px;
}
.createPost .divider{
  position: relative;
  top: 206px;
}
.submitButton{
  position: absolute;
  right: 18%;
  top: 32px;
  width: 10%;
  height: 36px;

  background-color: var(--primary-1);
  border-radius: 8px;
  border: none;
  color: var(--white);
  
}
.fileButton{
  position: absolute;
  right: 15%;
  top: 262px;
  width: 10%;
  height: 36px;
}