.postWrap{
  width: 1280px;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.wrap{
  width:1280px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1281px) {
  .wrap{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}
.postWrapBox{
  display:flex;
  justify-content: space-between;
  width: 792px;
  height:206px;
}
.serviceInfo{
  height: 136px;
  display: flex;
  align-items:center;
  width:792px;
  margin-top:32px;
}
.serviceInfo2{
  height: 36px;
  display: flex;
  align-items:center;
  width:792px;
  margin-top:32px;
}

.scrapReview{
  position:absolute;
  top:32px;
  right:40px;
  width:180px;
  height: 84px;
  display: flex;
  flex-direction: column;
 }
 .reviewButton{
  margin-top: 12px;
  background-color: var(--primary-1);
  height: 36px;
  color: var(--white);
  border-radius: 8px;
  border: none;
  display:flex;
  align-items: center;
  justify-content: center;
}
.serviceImgWrap{
  width: 142px;
  height: 142px;
  object-fit: cover;
  background-color: var(--primary-3);
  border-radius: 8px;
}
.serviceCon{
  margin-top: 6px;
  margin-left: 24px;
  margin-bottom: 4px;
}
.serviceInfo .title100{
  position: relative;
}
.serviceInfo .userInfo{
  height: 24px;
  display: flex;
  justify-content: flex-start;
}
.serviceInfo .userImg{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--caution);
}
.serviceInfo .userInfo h4{
  margin-left:8px;
  line-height: 24px;
  color: var(--gray-1);
}
.serviceInfo .userInfo h2{
  margin-left:8px;
  line-height: 24px;
  color: var(--gray-2);
}
.serviceEx{
  position: relative;
  top: 36px;
  color: var(--black);
}
.serviceEx > .body150{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.scrap h3{
  color: var(--black);
}
.scrap{
  position: relative;
  right:0px;
  top:0;
  background-color: var(--gray-4);
  border-radius: 8px;
  height: 36px;
  border: none;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}
.scrapFrame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 87px;
  height: 16px;
}
.serviceIntro1{
    color: var(--primary-1);
    cursor:pointer;
}
.serviceIntro0{
    color:var(--black);
    cursor:pointer;
}
.tabList{
  height: 40px;
  display: inline-flex;
  width:792px;
  align-items: center;
}
.serviceIntro1{
  height:36px;
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}
.serviceIntro1 > h3{
  font-weight: bold;
}
  
.tabListItem + .tabListItem{
  margin-left: 24px;
}
.tabListItem{
  cursor:pointer;
}
.postServiceIntro{
  margin-top: 56px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:793px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: #212123;
}
.postServiceIntro img{
  width:100%;
  object-fit: contain;
}
.postWrap3{
  display:flex;
  width:793px;
  height:500px;
  justify-content: center;
}
.createPost{
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:1280px;
  height:206px;
}
.createPostWrap{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:1280px;
}

.editorBox{
  display:flex;
  width:1280px;
  justify-content: center;
}
.popHeader{
  position:fixed;
  top:0px;
  display:flex;
  justify-content: center;
  width:1280px;
  transition:top 0.4s;
  background-color: white;
  height:116px;
  z-index: 10;
}
.postWrap2{
  width: 1280px;
  height:124px;
  position:absolute;
  display:flex;
  background-color: white;
  flex-direction: column;
  align-items:center;
}
.postWrap2 > .divider{
  margin-top: 4px;
}
@media screen and (min-width: 1281px) {
  .createPostWrap{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  .editorBox{
    display:flex;
    width:100%;
    justify-content: center;
  }
  .popHeader{
    position:fixed;
    top:0px;
    display:flex;
    justify-content: center;
    width:100%;
    transition:top 0.4s;
    background-color: white;
    height:116px;
    z-index: 10;
  }
}
  

.createPost > .serviceInfo{
  width: 792px;
  height: 142px;
  display: flex;
  margin-top: 32px;
}

.submitButton{
  position: absolute;
  right: 40px;
  top: 32px;
  width:180px;
  height: 36px;
  background-color: var(--primary-1);
  border-radius: 8px;
  border: none;
  color: var(--white);
}
.fileButton{
  display:none;
}
.input-file-button{
  width: 180px;
  position: absolute;
  right: 40px;
  top: 80px;
  height: 36px;
  cursor: pointer;
  height: 36px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E4FF;
  border-radius: 8px;
}
.input-file-button > .subhead100{
  color: var(--primary-1);
}
.postImgWrap{
  width: 142px;
  height: 142px;
  background-color: var(--primary-3);
  border:none;
  border-radius: 8px;
  float: left;
}
#postImgWrap{
  width: 142px;
  height: 142px;
  border:none;
  /* background-color: var(--primary-3); */
  border-radius: 16px;
  float: left;
}
.postCon{
  width: 626px;
  margin-top: 6px;
  margin-left: 24px;
  display:flex;
  height:132px;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-bottom: 4px;
}
.postTitle{
  width: 626px;
  margin:0;
  margin-bottom: 12px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
  font-size: 24px; line-height: 100%;font-weight: 700;
}

/*userInfo 부분은 Post.js와 동일*/
.postIntro{
  color: var(--black);
  width: 626px;
  resize: none;
  border:none;
  margin-top:24px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 150%; font-size: 13px;font-weight: 400;
}
/*popHeader element*/

.serviceImgWrap2{
  width: 36px;
  height: 36px;
  background-color: var(--primary-3);
  border-radius: 8px;
}
.scrap2{
  position: relative;
  top:0;
  background-color: var(--gray-4);
  border-radius: 8px;
  height: 36px;
  width:180px;
  border:none;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}
.reviewButton2{
  position:absolute;
  right:0;
  top:0;
  background-color: var(--primary-1);
  height: 36px;
  width:180px;
  color: var(--white);
  border-radius: 8px;
  border: none;
  display:flex;
  align-items: center;
  justify-content: center;
}
.scrapReview2{
  position:absolute;
  top:32px;
  right:40px;
  width:372px;
  height: 84px;
  display: flex;
  flex-direction: column;
}

