/*---------전체 적용 CSS---------*/
@charset "utf=8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
:root{
    /*색깔 지정*/
    --primary-1: #2727AD;
    --primary-2: #7F7FDA;
    --primary-3: #BEBEF0;
    --primary-4: #E4E4FF;
    --primary-5: #F5F5FF;
    --black: #212123;
    --gray-1: #848492;
    --gray-2: #BEBECA;
    --gray-3: #E8E8EE;
    --gray-4: #F7F7FA;
    --white: #FFFFFF;
    --danger: #FF375B;
    --caution: #F2CE4D;
    --success: #48C9C9;
    --back-1: #FBFBFF;
    --primary-hover: #16169F;
    --primary-pressed: #0F0F89;
    --primary-disabled: #E8E8F3;
    --secondary-hover: #3F3F43;
    --secondary-pressed: #646469;
    --secondary-disabled: #F6F6F6;
}
h1{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h2{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h3{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h4{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h1.headline150{font-size: 60px; line-height: 150%;font-weight: 700;} h2.headline150{font-size: 52px;line-height: 150%;font-weight: 700;}
h1.title150{font-size: 40px;line-height: 150%;font-weight: 700;} h2.title150{font-size: 36px; line-height: 150%;font-weight: 700;} h3.title150{font-size: 32px; line-height: 150%;font-weight: 700;} h4.title150{font-size: 24px; line-height: 150%;font-weight: 700;}
h1.subhead150{font-size: 18px; line-height: 150%;font-weight: 700;} h2.subhead150{font-size: 16px; line-height: 150%;font-weight: 700;} h3.subhead150{font-size: 14px; line-height: 150%;font-weight: 700;} h4.subhead150{font-size: 12px; line-height: 150%;font-weight: 700;}
h1.body150{line-height: 150%; font-size: 18px;font-weight: 400;} h2.body150{line-height: 150%; font-size: 16px;font-weight: 400;} h3.body150{line-height: 150%; font-size: 14px;font-weight: 400;} h4.body150{line-height: 150%; font-size: 12px;font-weight: 400;}

h1.caption150{line-height: 150%; font-size: 12px;font-weight: 400;} h2.caption150{line-height: 150%; font-size: 10px;font-weight: 400;}
h1.headline100{font-size: 60px; line-height: 100%;font-weight: 700;} h2.headline100{font-size: 52px;line-height: 100%;font-weight: 700;}
h1.title100{font-size: 40px;line-height: 100%;font-weight: 700;} h2.title100{font-size: 36px; line-height: 100%;font-weight: 700;} h3.title100{font-size: 32px; line-height: 100%;font-weight: 700;} h4.title100{font-size: 24px; line-height: 100%;font-weight: 700;}
h1.subhead100{font-size: 18px; line-height: 100%;font-weight: 700;} h2.subhead100{font-size: 16px; line-height: 100%;font-weight: 700;} h3.subhead100{font-size: 14px; line-height: 100%;font-weight: 700;} h4.subhead100{font-size: 12px; line-height: 100%;font-weight: 700;}
h1.body100{line-height: 100%; font-size: 18px;font-weight: 400;} h2.body100{line-height: 100%; font-size: 16px;font-weight: 400;} h3.body100{line-height: 100%; font-size: 14px;font-weight: 400;} h4.body100{line-height: 100%; font-size: 12px;font-weight: 400;}
h1.paragraph200{line-height: 200%; font-size: 16px;font-weight: 400;} h2.paragraph200{line-height: 200%; font-size: 14px;font-weight: 400;} h3.paragraph200{line-height: 200%; font-size: 12px;font-weight: 400;}
h1.caption100{line-height: 100%; font-size: 12px;font-weight: 400;} h2.caption100{line-height: 100%; font-size: 10px;font-weight: 400;}

button{
	border:none;
	text-decoration: none;
	background-color: white;
}
button.primary{
	height:36px;
	background-color: var(--primary-1);
	color:var(--white);
}
button.secondary{
	height:36px;
	background-color: var(--primary-4);
	color:var(--primary-1);
}
button.teritary{
	height:36px;
	background-color: var(--gray-4);
	color:var(--black);
}
button.disabled{
	height:36px;
	background-color: var(--gray-3);
	color:var(--white);
}

html,
body, #root{
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
button{
  cursor: pointer;
}

.testBorder{
  border: 1px solid red;
}

/*---------Nav CSS---------*/
nav{
  width: 1280px;
  height: 72px;
  background-color: var(--white);
}

.navWrap{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width:1200px;
  padding-left: 40px;
  padding-right:40px;
  min-width: 800px;/*수정 필요*/
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.wrapLogoandMenu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:71px;
}
.wrapLogoandMenu > a{
  display:flex;
  align-items: center;
}
.divider{
  position: relative;
  height: 1px;
  width:1280px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:0px;
  background-color: var(--gray-3);
}
.postWrap > .divider{
  top:1px;
}
.createPost > .divider{
  top:32px;
}
@media screen and (min-width: 1280px) {
  nav{
    width:100%;
  }
  .divider{
    width:100vw;
  }
}
.menuList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 72px;
  margin-left:72px;
}
.listItem{
  height:64px;
}
.listItem:nth-child(1){
  width:70px;
  display:flex;
  justify-content: center;
}
.listItem:nth-child(2){
  width:87px;
  display:flex;
  justify-content: center;
}
.listItem:nth-child(3){
  width:123px;
  display:flex;
  justify-content: center;
}


.listItem h2{
  /* position: absolute; */
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;

  color: var(--black);
}
#listClicked1{
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}
#listClicked2{
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}
#listClicked3{
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}


  
#listNotClicked{
  color:var(--black);
  border:none;
}
.applogin h3{
  color: var(--black);
  font-weight: 400;
}
.registerAndLogin > .appregister{
  margin-left:34px;
}
.registerAndLogins .applogin{
  margin-left:16px;
}
.appregister h3{
  color: var(--primary-1);
  font-weight: 700;
}
.registerLink{
  display:flex;
  align-items: center;
}
.registerAndLogin{
  display:flex;
  align-items: center;
}
.registerAndLogins{
  display:flex;
  align-items: center;
}
#logineddisplayName{
  color:var(--black);
  margin-left: 8px;
  display:flex;
  align-items: center;
}
#logineddisplayName > img{
  margin-right:4px;
}
.appLogin > a:visited{
  color:black;
}
/*---------Mainpage CSS---------*/
.mainWrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.mainPage{
  position: relative;
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (max-width: 1280px) {
  .mainWrap{
      width: 1280px;
}
}
/* @media screen and (max-width: 900px) {
  .mainPage{
    width: 600px;
  }
  .mainWrap{
    width: 900px;
  }
} */
.card{
  position: absolute;
  top: 24px;
  width: 1200px;
  height: 500px;
  background: var(--white);
  display:flex;
  align-items: center;
  justify-content:flex-end;
  border: 1px solid var(--gray-3);
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
}
.title1{
  position: absolute;
  width: 506px;
  height: 108px;
  left: 80px;
  top: calc(50% - 108px/2 - 32px);

  color: var(--black);
}
.sub{
  position: absolute;
  width: 506px;
  height: 52px;
  left: 80px;
  top: calc(50% - 52px/2 + 60px);

  color: var(--gray-1);
}
.cardImage{
  position: absolute;
  top: 116px;
  left: 636px;
  width: 563px;
}
/*---------BetaTest.js CSS---------*/




/*---------Editor.js CSS---------*/
.editor{
  width: 792px;
  margin: 0 auto;
  position: relative;
  top:177px;
}

.ql-editor{
  min-height: 400px;
}
.footer{
  height:288px;
  margin-top:80px;
}

