/*---------전체 적용 CSS---------*/
@charset "utf=8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
:root{
    /*색깔 지정*/
    --primary-1: #2727AD;
    --primary-2: #7F7FDA;
    --primary-3: #BEBEF0;
    --primary-4: #E4E4FF;
    --primary-5: #F5F5FF;
    --black: #212123;
    --gray-1: #848492;
    --gray-2: #BEBECA;
    --gray-3: #E8E8EE;
    --gray-4: #F7F7FA;
    --white: #FFFFFF;
    --danger: #FF375B;
    --caution: #F2CE4D;
    --success: #48C9C9;
    --back-1: #FBFBFF;
    --primary-hover: #16169F;
    --primary-pressed: #0F0F89;
    --primary-disabled: #E8E8F3;
    --secondary-hover: #3F3F43;
    --secondary-pressed: #646469;
    --secondary-disabled: #F6F6F6;
}
h1{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h2{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h3{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h4{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  letter-spacing: -0.01em;
}
h1.headline150{font-size: 60px; line-height: 150%;font-weight: 700;} h2.headline150{font-size: 52px;line-height: 150%;font-weight: 700;}
h1.title150{font-size: 40px;line-height: 150%;font-weight: 700;} h2.title150{font-size: 36px; line-height: 150%;font-weight: 700;} h3.title150{font-size: 32px; line-height: 150%;font-weight: 700;} h4.title150{font-size: 24px; line-height: 150%;font-weight: 700;}
h1.subhead150{font-size: 18px; line-height: 150%;font-weight: 700;} h2.subhead150{font-size: 16px; line-height: 150%;font-weight: 700;} h3.subhead150{font-size: 14px; line-height: 150%;font-weight: 700;} h4.subhead150{font-size: 12px; line-height: 150%;font-weight: 700;}
h1.body150{line-height: 150%; font-size: 18px;font-weight: 400;} h2.body150{line-height: 150%; font-size: 16px;font-weight: 400;} h3.body150{line-height: 150%; font-size: 14px;font-weight: 400;} h4.body150{line-height: 150%; font-size: 12px;font-weight: 400;}

h1.caption150{line-height: 150%; font-size: 12px;font-weight: 400;} h2.caption150{line-height: 150%; font-size: 10px;font-weight: 400;}
h1.headline100{font-size: 60px; line-height: 100%;font-weight: 700;} h2.headline100{font-size: 52px;line-height: 100%;font-weight: 700;}
h1.title100{font-size: 40px;line-height: 100%;font-weight: 700;} h2.title100{font-size: 36px; line-height: 100%;font-weight: 700;} h3.title100{font-size: 32px; line-height: 100%;font-weight: 700;} h4.title100{font-size: 24px; line-height: 100%;font-weight: 700;}
h1.subhead100{font-size: 18px; line-height: 100%;font-weight: 700;} h2.subhead100{font-size: 16px; line-height: 100%;font-weight: 700;} h3.subhead100{font-size: 14px; line-height: 100%;font-weight: 700;} h4.subhead100{font-size: 12px; line-height: 100%;font-weight: 700;}
h1.body100{line-height: 100%; font-size: 18px;font-weight: 400;} h2.body100{line-height: 100%; font-size: 16px;font-weight: 400;} h3.body100{line-height: 100%; font-size: 14px;font-weight: 400;} h4.body100{line-height: 100%; font-size: 12px;font-weight: 400;}
h1.paragraph200{line-height: 200%; font-size: 16px;font-weight: 400;} h2.paragraph200{line-height: 200%; font-size: 14px;font-weight: 400;} h3.paragraph200{line-height: 200%; font-size: 12px;font-weight: 400;}
h1.caption100{line-height: 100%; font-size: 12px;font-weight: 400;} h2.caption100{line-height: 100%; font-size: 10px;font-weight: 400;}
/*button component*/
button{
	border:none;
	text-decoration: none;
	background-color: white;
  cursor:pointer;
}
button.primary{
	height:36px;
	background-color: var(--primary-1);
	color:var(--white);
}
button.secondary{
	height:36px;
	background-color: var(--primary-4);
	color:var(--primary-1);
}
button.tertiary{
	height:36px;
	background-color: var(--gray-4);
	color:var(--black);
}
button.disabled{
	height:36px;
	background-color: var(--gray-3);
	color:var(--white);
}

/*input*/
input{
  border: 1px solid #E8E8EE;
  box-sizing: border-box;
  border-radius: 8px;
  padding:16px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: var(--black);
}
input::placeholder{
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color:var(--gray-2);
}
input:focus{
  border:1px solid var(--primary-1);
}
input:disabled{
  background-color: var(--gray-4);
  border:1px solid var(--gray-3);
}

/* tab indicator */
.selectedTab{ /*button에 className으로 적용, 레퍼런스 MyPage 참고*/
  height: 40px; 
  color: var(--primary-1);
  margin-left: 8px;
  margin-right: 8px;
  padding: 0px;
  box-shadow:  inset 0 -4px 0 0px var(--primary-1);
}
.notSelectedTab{
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
}

/* border radius */
.border8px{
  border: 1px solid var(--gray-3);
  box-sizing: border-box;
  border-radius: 8px;
}

html,
body, #root{
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
.testBorder{
  border: 1px solid red;
}

/* shadow */
.shadow-1{
  box-shadow: 0px -4px 24px rgba(0, 1, 3, 0.10);
}
.shadow-2{
  box-shadow: 0px -4px 16px rgba(0, 1, 3, 0.05);
}
.shadow-gnb{
  box-shadow: 0px -4px 24px rgba(0, 1, 3, 0.05);
}

/* text color */
.text-primary-1{color: var(--primary-1)}
.text-primary-2{color: var(--primary-2)}
.text-primary-3{color: var(--primary-3)}
.text-primary-4{color: var(--primary-4)}
.text-primary-5{color: var(--primary-5)}
.text-black{color: var(--black)}
.text-gray-1{color: var(--gray-1)}
.text-gray-2{color: var(--gray-2)}
.text-gray-3{color: var(--gray-3)}
.text-gray-4{color: var(--gray-4)}
.text-white{color: var(--white)}
.text-danger{color: var(--danger)}
.text-caution{color: var(--caution)}
.text-success{color: var(--success)}
.text-back-1{color: var(--back-1)}

/*---------Nav CSS---------*/
nav{
  width: 1280px;
  height: 72px;
  background-color: var(--white);
}

.navWrap{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width:1200px;
  padding-left: 40px;
  padding-right:40px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.wrapLogoandMenu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:71px;
}
.wrapLogoandMenu > a{
  display:flex;
  align-items: center;
}
.divider{
  position: relative;
  height: 1px;
  width:1280px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:0px;
  background-color: var(--gray-3);
}
.postWrap > .divider{
  top:1px;
}
.createPost > .divider{
  top:32px;
}
@media screen and (min-width: 1280px) {
  nav{
    width:100%;
  }
  .divider{
    width:100vw;
  }
}
.menuList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 72px;
  margin-left:72px;
}
.listItem{
  height:64px;
}
.listItem:nth-child(1){
  width:70px;
  display:flex;
  justify-content: center;
}
.listItem:nth-child(2){
  width:87px;
  display:flex;
  justify-content: center;
}
.listItem:nth-child(3){
  width:123px;
  display:flex;
  justify-content: center;
}


.listItem h2{
  /* position: absolute; */
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;

  color: var(--black);
}
#listClicked1{
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}
#listClicked2{
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}
#listClicked3{
  color:var(--primary-1);
  box-shadow: 0 8px 0 -4px var(--primary-1);
}


  
#listNotClicked{
  color:var(--black);
  border:none;
}
.applogin h3{
  color: var(--black);
  font-weight: 400;
}
.registerAndLogin > .appregister{
  margin-left:34px;
}
.registerAndLogins .applogin{
  margin-left:16px;
}
.appregister h3{
  color: var(--primary-1);
  font-weight: 700;
}
.registerLink{
  display:flex;
  align-items: center;
}
.registerAndLogin{
  display:flex;
  align-items: center;
}
.registerAndLogins{
  display:flex;
  align-items: center;
}
#logineddisplayName{
  color:var(--black);
  margin-left: 8px;
  display:flex;
  align-items: center;
}
#logineddisplayName > img{
  margin-right:4px;
}
.appLogin > a:visited{
  color:black;
}
/*---------Mainpage CSS---------*/
.mainWrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.mainPage{
  position: relative;
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (max-width: 1280px) {
  .mainWrap{
      width: 1280px;
}
}
/* @media screen and (max-width: 900px) {
  .mainPage{
    width: 600px;
  }
  .mainWrap{
    width: 900px;
  }
} */
.card{
  position: absolute;
  top: 24px;
  width: 1200px;
  height: 500px;
  background: var(--white);
  display:flex;
  align-items: center;
  justify-content:flex-end;
  border: 1px solid var(--gray-3);
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
}
.title1{
  position: absolute;
  width: 506px;
  height: 108px;
  left: 80px;
  top: calc(50% - 108px/2 - 32px);

  color: var(--black);
}
.sub{
  position: absolute;
  width: 506px;
  height: 52px;
  left: 80px;
  top: calc(50% - 52px/2 + 60px);

  color: var(--gray-1);
}
.cardImage{
  position: absolute;
  top: 116px;
  left: 636px;
  width: 563px;
}
/*---------BetaTest.js CSS---------*/




/*---------Editor.js CSS---------*/
.editor{
  width: 792px;
  margin: 0 auto;
  position: relative;
  top:177px;
}

.ql-editor{
  min-height: 400px;
}
.footer{
  height:288px;
  margin-top:80px;
}


/*------------ mobile ------------*/

/* mobile header */
.mobile-header{
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--gray-3);
  background: var(--white);
  z-index: 999;
}

.mobile-header-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: 0 auto;
}

/* mobile footer */
.mobile-footer{
  position: fixed;
  bottom: 0;
  height: 72px;
  width: 100%;
  background: var(--white);
  border-radius: 16px 16px 0px 0px;
}

.mobile-gnb{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.mobile-gnb-tab{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
}

.mobile-gnb-tab-title{
  letter-spacing: -0.01em;
  margin: 2px 0px;
}

.action-button{
  position: fixed;
  width: 64px;
  height: 64px;
  right: 20px;
  bottom: 92px;
  
}


/* mobile main */
.mobile-main-title{
  margin-top: 88px;
  text-align: center;
}

.mobile-main-subtitle{
  margin-top: 20px;
  color:var(--gray-1);
  text-align: center;
}

.mobile-card{
  position: relative; 
  height: 300px;
}

.mobile-card img{
  position: absolute; 
  top: 0; 
  left: 0; 
  transform: translate(50, 50); 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  margin-top: 15px;
}

.mobile-main-content{
  padding: 0px 20px;
}


.mobile-main-content-title{
  margin: 50px 0px 20px 0px;
}

.mobile-main-content-footer{
  text-align: center;
  margin: 30px 0px 160px 0px;
}

/* layout */
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}